:root{
    --primary-color:#ed8019;
    --secondary-color:#131819;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0; padding: 0;
    list-style: none;
}

html{
    margin: 0; 
    padding: 0;
}

h1{
    color: #13152b
}



p>ol{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: uppercase;
}

label{
    text-transform: capitalize;
}

.container{
    width: 90%; 
    max-width: 1100px; 
    margin-bottom: 30px;
    transition: height 5ms ease-in-out
}

.container-center{
    text-align: center; 
    margin: 10px 0 10px 0
}

.cont-100{
    height: 160px;
    overflow:hidden;
    transition: height 5ms ease-in-out
}

#togglable-container{
    transition: height 5ms ease-in-out
}

/* NAVBAR */
nav{
    background: var(--primary-color); 
    color: white
}

nav a{
    color:white
}

nav a:hover{
    color: #131819
}

.item-group-inline{
    display: flex;
    justify-content: center;
    align-items: center
}

/* secondary navigation */
.navbar-sec{
    margin: 0 10px;
    height: 70px;
    padding: 6px 10px;
    
}

.nav-secondary{
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav-sec-item{
    align-items: center;
}


/* FOOTER */
footer{
    background: var(--primary-color) no-repeat;
    margin:0; 
    padding: 0; 
    margin-bottom: 0
}

footer>h3{
    color: #13152b!important;
}

footer div span{
    color:white
}

.footer-ls{
    display:grid; 
    grid-template-columns:repeat(3,1fr)
}


/* INTRODUCTION */
.introduction{
    width: 100%; height:450px; 
    background: url('../images/DSC_0002.jpg') no-repeat center center/cover;
}

.introduction .content{
    display:flex;
    flex-direction: column;
    margin: auto;
    height: 450px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0, 0.7);
}

.introduction .content h2{
    font-weight: bold;
}

/* HOW IT WORK */
.howitwork{
    margin: 3rem 10px;
}


section h1{
    margin:10px 0 40px 0
}

/* Une carte de présentation de produit */
.card{
    max-width: 200px; 
    max-height: 250px; 
    overflow: hidden; 
    margin-bottom: 5px; 
    border-radius: 0 !important;
}

.card h3{
    font-size: large
}

.card span{
    font-size: medium
}

.card h3, .card span{
    padding: 3px 5px;
}

/* REUTILISABLE */

.inline-btn{
    background: transparent;
    border: transparent;
    color: #13152b
}

/* Une boite conteneur */
.box-wrap{
    display: grid; grid-template-columns: repeat(4, 1fr); grid-gap:4px; 
}

.dark {
    color: white;
}

/* Styles pour les écrans plus de 700px */
@media(min-width:700px){
    .menu-btn{
        display: none;
    }
}

/* Styles pour les écrans moins de 700px */
@media(max-width:700px){
    section>h1{
        font-size: x-large;
        font-weight: bold;
    }

    .menu-btn{
        display: block;
    }

    /* Navigation */
    .navbar>#navlist{
        display: block;
        flex-direction: row;
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width:200px;
        margin-top: 1rem;
        background: var(--primary-color);
        opacity: 0.8;
        z-index: 10;
        transform: translateX(-500px);
    }

    
    .navbar>#navlist.show, .show{
        transform: translateX(-20px);
    }

    .introduction{
        display: none;
    }

    section>.pano, section>.box-wrap, .box-wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* pack */
    .pack>.container-center>.pano{
        display: flex;
        flex-wrap: wrap
    }

    .pack>.container-center>.pano>.pano-section{
        width: 225px;
    }

    .pack>.container-center>.pano>.pano-section h3{
        font-size: large;
    }

    .pack>.container-center>.pano>.pano-section p{
        font-size: small;
    }

    .pack>.container-center>.pano>.pano-section div .illustration-img{
        height: 150px;
    }

    /* FOOTER */
    #banner>.container-fluid, footer>.footer-ls{
        font-size: small!important;
    }

    .footer-ls h3{
        font-size: large
    }

    .footer-ls{display: grid; grid-template-columns: 1fr;}
}