<!-- Barre de navigation -->
<nav id="navbar" class="navbar navbar-expand-lg">
    <span class="navbar-brand"><a class="" href="/">LOGO</a></span>

    <!-- bootstrap navbar btn toggler -->
    <button class="navbar-toggler btn nav-link" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars fa-2x"></i>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/"> <i class="fas fa-home"></i>Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="/course"> <i class="fas fa-caret-right"></i> Faire le marché</a></li>
            <li class="nav-item"><a class="nav-link accordion" href="/products">Produits</a></li>
            <!-- <li class="nav-item">
                <a id="membership" class="nav-link" href="membership.html"><i class="fas fa-sign-in-alt"></i>Membres</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/membership" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-sign-in-alt"></i>Membres
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="nav-link dropdown-item" href="/login">Se connecter</a>
                  <a class="nav-link dropdown-item" href="/signup">S'inscrire</a>
                </div>
              </li>
        </ul>
    </div>    
    
    <span class="nav-item">
        <div class="item-group-inline">
            <a id="search" class="btn nav-link" href=""><i class="fab fa-searchengin fa-2x"></i></a>
        <a id="panier" class="btn nav-link" href="" alt="Votre panier"><i class="fab fa-opencart fa-2x"></i><span id="cart-content-number">0</span></a></a>

        <!-- <a id="menu-btn" class="menu-btn">
            <i class="fas fa-bars fa-2x"></i>
        </a> -->
        </div>
    </span>
</nav>